
/* body {background-color: powderblue;}
h1   {color: blue; font-family: sans-serif; font-size: 300%; text-align: center;}
p    {color: red; font-family: sans-serif; font-size: 150%; text-align: center;} */
html {
    font-family: sans-serif;
    background: powderblue;
}

body {
    color: red; font-family: sans-serif; font-size: 150%; text-align: center;
}

h1 {color: blue; font-family: sans-serif; font-size: 300%; text-align: center;}


.content {
    padding: 0 1rem 1rem;
    background: white;
    border-radius: 25px;
}

.flash {
    text-align: center;
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}